<h2 mat-dialog-title>Chi tiết sản phẩm</h2>
<form>
  <mat-dialog-content class="mat-typography">
    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Tên sản phẩm </mat-label>
        <input matInput name="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Danh mục </mat-label>
        <input matInput name="category">
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Giá nhập </mat-label>
        <input matInput name="entryPrice">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Giá bán </mat-label>
        <input matInput name="price">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Số lượng trong kho </mat-label>
        <input matInput name="quantityStock">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Số lượng đã bán </mat-label>
        <input matInput name="quantitySold">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label> Mô tả </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label> Ảnh sản phẩm </mat-label>
        <input matInput name="image">
        <img src="" alt="">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Update</button>
  </mat-dialog-actions>
</form>
