.mat-typography {
  width: 1200px;
}

.marginRight {
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.image {
  max-width: 200px;
}
