<div class="overlay" *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner
      class="spinner"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [diameter]="customDiameter"
    >
    </mat-spinner>
  </div>
</div>
<h2 mat-dialog-title>{{data.isAdd ? 'Add new product' : 'Product details'}}</h2>
<form [formGroup]="formProduct">
  <mat-dialog-content class="mat-typography">
    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Product name </mat-label>
        <input matInput name="name" formControlName="productName">
        <mat-error *ngIf="formProduct.controls.productName.hasError('required')">Product name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Category </mat-label>
        <mat-select name="category" formControlName="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formProduct.controls.categoryId.hasError('required')">Category is required</mat-error>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Entry price </mat-label>
        <input matInput name="entryPrice" formControlName="entryPrice">
        <mat-error *ngIf="formProduct.controls.entryPrice.hasError('required')">Entry price is required</mat-error>
        <mat-error *ngIf="formProduct.controls.entryPrice.hasError('min')">Giá nhập phải lớn hơn 0</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Price </mat-label>
        <input matInput name="price" formControlName="price">
        <mat-error *ngIf="formProduct.controls.price.hasError('required')">Vui lòng nhập giá sản phẩm</mat-error>
        <mat-error *ngIf="formProduct.controls.price.hasError('min')">Giá bán phải lớn hơn 0</mat-error>
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Quantity stock </mat-label>
        <input matInput name="quantityStock" formControlName="quantityStock">
        <mat-error *ngIf="formProduct.controls.quantityStock.hasError('required')">Vui lòng nhập số lượng sản phẩm</mat-error>
        <mat-error *ngIf="formProduct.controls.quantityStock.hasError('min')">Số lượng phải lớn hơn 0</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Quantity sold </mat-label>
        <input matInput name="quantitySold" formControlName="quantitySold">
        <mat-error *ngIf="formProduct.controls.quantitySold.hasError('required')">Vui lòng nhập số lượng sản phẩm</mat-error>
        <mat-error *ngIf="formProduct.controls.quantitySold.hasError('min')">Số lượng phải lớn hơn 0</mat-error>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="marginRight full-width">
        <mat-label> Description </mat-label>
        <textarea matInput formControlName="descProduct"></textarea>
        <mat-error *ngIf="formProduct.controls.descProduct.hasError('required')">Vui lòng nhập mô tả sản phẩm</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Discount </mat-label>
        <input matInput name="discount" formControlName="discountPercentage">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-label> Product image </mat-label>
        <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput formControlName="imageProduct" />
        <input
          type="file"
          multiple
          hidden
          #f_input
          (change)="handleFileInputChange(f_input.files)"
        />
        <mat-error *ngIf="formProduct.controls.imageProduct.hasError('required')">Vui lòng thêm ảnh sản phẩm</mat-error>
        <img *ngIf="imageUrl" class="image" [src]="imageUrl" [alt]="data.productName">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="handleClick(data.isAdd)" mat-button>{{data.isAdd ? 'Add' : 'Save'}}</button>
  </mat-dialog-actions>
</form>
