<div class="wrapper-chart">
  <div>
    <h2>Top 5 best selling products</h2>
    <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
  </div>

  <div>
    <h2>Total number of products sold in each month</h2>
    <canvas baseChart
            [type]="'line'"
            [datasets]="lineChartData.datasets"
            [labels]="lineChartData.labels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>


</div>
