<h2 mat-dialog-title>{{data.isAdd ? 'Add new staff' : 'Staff details'}}</h2>
<form [formGroup]="formStaff">
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field class="full-width">
        <mat-label> Staff name </mat-label>
        <input matInput name="name" formControlName="fullName">
        <mat-error *ngIf="formStaff.controls.fullName.hasError('required')">Name is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Role </mat-label>
        <mat-select name="role" formControlName="roleId">
          <mat-option *ngFor="let role of arrRoles" [value]="role.roleId">{{role.roleName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formStaff.controls.roleId.hasError('required')">Role is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label> Email </mat-label>
        <input matInput name="email" formControlName="email">
        <mat-error *ngIf="formStaff.controls.email.hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="formStaff.controls.email.hasError('email')">Invalid email.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Phone number </mat-label>
        <input matInput name="phoneNumber" formControlName="phoneNumber">
        <mat-error *ngIf="formStaff.controls.phoneNumber.hasError('required')">Phone number is required.</mat-error>
        <mat-error *ngIf="formStaff.controls.phoneNumber.hasError('pattern')">Invalid phone number format.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="data.isAdd">
      <mat-form-field class="full-width">
        <mat-label> Password </mat-label>
        <input matInput name="password" formControlName="password">
        <mat-error *ngIf="formStaff.controls.password.hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="formStaff.controls.password.hasError('min')">Password must be at least 6 characters long.</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button (click)="handleClick(data.isAdd)" type="submit" mat-button>{{data.isAdd ? 'Add' : 'Save'}}</button>
  </mat-dialog-actions>
</form>

