<h2 mat-dialog-title>{{data.isAdd ? 'Add new category' : 'Category details'}}</h2>
<form [formGroup]="formCategory">
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field class="full-width">
        <mat-label> Category name </mat-label>
        <input matInput name="name" formControlName="categoryName">
        <mat-error *ngIf="formCategory.controls.categoryName.hasError('required')">Category name is required</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="handleClick(data.isAdd)" type="submit" mat-button>{{data.isAdd ? 'Add' : 'Save'}}</button>
  </mat-dialog-actions>
</form>


