<div class="row-1">
  <div class="card card-1">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>store</mat-icon>
        </div>
        <div class="card__value">{{totalProduct}}</div>
      </div>
      <div class="card__title">Total product</div>
    </div>
  </div>
  <div class="card card-2">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
        </div>
        <div class="card__value">{{totalOrder}}</div>
      </div>
      <div class="card__title">Total order</div>
    </div>
  </div>
  <div class="card card-3">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>attach_money</mat-icon>
        </div>
        <div class="card__value">{{ totalRevenue | currencyFormat }}</div>
      </div>
      <div class="card__title">Total revenue</div>
    </div>
  </div>
  <div class="card card-4">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>people</mat-icon>
        </div>
        <div class="card__value">{{ totalUser }}</div>
      </div>
      <div class="card__title">Total customer</div>
    </div>
  </div>
</div>

<div class="row-2">
  <div class="top-product">
    <h2>Top products</h2>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell cdkDrag *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell cdkDrag *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="Popularity">
        <th mat-header-cell cdkDrag *matHeaderCellDef> Popularity </th>
        <td mat-cell *matCellDef="let element">
          <progress
          id="progress-bar"
          value="{{element.profitPercentage}}"
          max="100"
          [ngClass]="{
                'lowest-profit': element.profitPercentage < 20,
                'low-profit': element.profitPercentage >= 20 && element.profitPercentage < 50,
                'medium-profit': element.profitPercentage >= 50 && element.profitPercentage < 100,
                'high-profit': element.profitPercentage >= 100
            }"
        >
        </progress>

        </td>
      </ng-container>

      <ng-container matColumnDef="Sales">
        <th mat-header-cell cdkDrag *matHeaderCellDef> Sales </th>
        <td mat-cell *matCellDef="let element">
          <div
            class="sale"
            [ngStyle]="{'border-color': getProfitColor(element.profitPercentage), 'color': getProfitColor(element.profitPercentage)}"
          >
            <span>
              {{element.profitPercentage}} %
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  <div class="chart">
    <app-top5-product-best-selling></app-top5-product-best-selling>
  </div>
</div>
<div class="row-2">
  <div class="chart1">
    <app-total-selling></app-total-selling>
  </div>
</div>

