.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 260px;
  height: 160px;
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.card-1 {
  background-color: rgb(255, 226, 229);
}

.card-2 {
  background-color: rgb(255, 244, 222);
}

.card-3 {
  background-color: rgb(220, 252, 231);
}

.card-4 {
  background-color: rgb(243, 232, 255);
}

.card__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.mat-icon {
  color: #fff;
}

.card__value {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 8px;
}

.card__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5
}

.card-1 .card__icon {
  background-color: rgb(250, 90, 125);
}

.card-2 .card__icon {
  background-color: rgb(255, 148, 122);
}

.card-3 .card__icon {
  background-color: rgb(60, 216, 86);
}

.card-4 .card__icon {
  background-color: rgb(191, 131, 255);
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: #fff;*/
  /*border-radius: 16px;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  /*margin: 16px;*/
}

.row-2 .chart, .row-2 .top-product {
  padding: 20px;
}

.top-product, .chart, .chart1 {
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.top-product {
  width: 55%;
}
.chart {
  width: 35%;
}

table {
  width: 100%;
}

.sale {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid;
  height: 24px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.2;
}
.sale span {
  padding: 0 8px;
}

progress {
  height: 6px;
  border-radius: 25px;
  background-color: #e0e0e0;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 25px;
}

progress::-webkit-progress-value {
  border-radius: 25px;
}

progress::-moz-progress-bar {
  border-radius: 25px;
}

.lowest-profit::-webkit-progress-value {
  background-color: rgb(136, 77, 255);
}

.low-profit::-webkit-progress-value {
  background-color: rgb(255, 143, 13);
}

.medium-profit::-webkit-progress-value {
  background-color: rgb(0, 149, 255);
}

.high-profit::-webkit-progress-value {
  background-color: rgb(0, 224, 150);
}

.lowest-profit::-moz-progress-bar {
  background-color: rgb(136, 77, 255);
}

.low-profit::-moz-progress-bar {
  background-color: rgb(255, 143, 13);
}

.medium-profit::-moz-progress-bar {
  background-color: rgb(0, 149, 255);
}

.high-profit::-moz-progress-bar {
  background-color: rgb(0, 224, 150);
}

