<div class="row-1">
  <div class="card card-1">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>store</mat-icon>
        </div>
        <div class="card__value">1,000</div>
      </div>
      <div class="card__title">Total product</div>
    </div>
  </div>
  <div class="card card-2">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
        </div>
        <div class="card__value">1,000</div>
      </div>
      <div class="card__title">Total order</div>
    </div>
  </div>
  <div class="card card-3">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>attach_money</mat-icon>
        </div>
        <div class="card__value">1,000</div>
      </div>
      <div class="card__title">Total revenue</div>
    </div>
  </div>
  <div class="card card-4">
    <div class="card__content">
      <div class="card__description">
        <div class="card__icon">
          <mat-icon mat-list-icon>people</mat-icon>
        </div>
        <div class="card__value">1,000</div>
      </div>
      <div class="card__title">Total customer</div>
    </div>
  </div>
</div>

<div class="row-2">
  <div class="chart">
    <app-top5-product-best-selling></app-top5-product-best-selling>
  </div>
</div>

