.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 64px;
}
.example-sidenav-content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  justify-content: center;
}
.example-sidenav {
  user-select: none;
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
}

.menu-item {
  display: flex;
  align-items: center;
  align-content: center;
}

.mat-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.toolbar-left {
  display: flex;
  align-items: center;
}
