<mat-toolbar color="primary" class="example-toolbar">
  <div class="toolbar-left">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{authService.getRole()}}</h1>
  </div>
  <div class="toolbar-right">
    <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
        </div>
      </mat-list-item>

      <mat-list-item [routerLink]="['/products']" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon mat-list-icon>store</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Products</span>
        </div>
      </mat-list-item>

      <mat-list-item [routerLink]="['/category-list']" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon mat-list-icon>category</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Categories</span>
        </div>
      </mat-list-item>

      <mat-list-item [routerLink]="['/orders']" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Orders</span>
        </div>
      </mat-list-item>

      <mat-list-item [routerLink]="['/staff-list']" routerLinkActive="active-link" *ngIf="authService.getRole() === 'Administrator'">
        <div class="menu-item">
          <mat-icon mat-list-icon>person</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Staff management</span>
        </div>
      </mat-list-item>

      <mat-list-item [routerLink]="['/user-list']" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon mat-list-icon>people</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Users</span>
        </div>
      </mat-list-item>

      <mat-nav-list>
        <mat-list-item (click)="showSubmenuStatistical = !showSubmenuStatistical" class="parent">
          <div class="menu-item">
            <mat-icon mat-list-icon>equalizer</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">Statistics</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuStatistical}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </div>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenuStatistical}" *ngIf="showSubmenuStatistical && (isShowing || isExpanded)">
          <a mat-list-item [routerLink]="['/revenue-statistics']" routerLinkActive="active-link">Revenue</a>
          <a mat-list-item [routerLink]="['/daily-revenue']" routerLinkActive="active-link">Daily revenue</a>
          <a mat-list-item [routerLink]="['/top5-products-best-selling']" routerLinkActive="active-link">Top product</a>
          <a mat-list-item [routerLink]="['/total-product-sold-month']" routerLinkActive="active-link">Total products sold</a>
        </div>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item (click)="showSubMenuAccount = !showSubMenuAccount" class="parent">
          <div class="menu-item">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">Account</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubMenuAccount}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </div>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubMenuAccount}" *ngIf="showSubMenuAccount && (isShowing || isExpanded)">
          <a mat-list-item [routerLink]="['/profile']" routerLinkActive="active-link">Profile</a>
          <a mat-list-item [routerLink]="['/changePassword']" routerLinkActive="active-link">Change password</a>
          <a mat-list-item (click)="resetPassword()">Reset password</a>
        </div>
      </mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
