<mat-toolbar color="primary" class="example-toolbar">
  <div class="toolbar-left">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Administrator</h1>
  </div>
  <div class="toolbar-right">
    <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item>
        <div class="menu-item">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <a [routerLink]="['/dashboard']" class="full-width" *ngIf="isExpanded || isShowing">Dashboard</a>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="menu-item">
          <mat-icon mat-list-icon>store</mat-icon>
          <a [routerLink]="['/products']" class="full-width" *ngIf="isExpanded || isShowing">Sản phẩm</a>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="menu-item">
          <mat-icon mat-list-icon>category</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Danh mục</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="menu-item">
          <mat-icon mat-list-icon>shopping_cart</mat-icon>
          <a [routerLink]="['/orders']" class="full-width" *ngIf="isExpanded || isShowing">Đơn hàng</a>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="authService.getRole() === 'Administrator'">
        <div class="menu-item">
          <mat-icon mat-list-icon>person</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Quản lý nhân viên</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="menu-item">
          <mat-icon mat-list-icon>people</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Người dùng</span>
        </div>
      </mat-list-item>

      <mat-nav-list>
        <mat-list-item (click)="showSubmenuStatistical = !showSubmenuStatistical" class="parent">
          <div class="menu-item">
            <mat-icon mat-list-icon>equalizer</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">Thống kê</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuStatistical}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </div>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenuStatistical}" *ngIf="isShowing || isExpanded">
          <a mat-list-item href="...">Doanh thu</a>
          <a mat-list-item href="...">Top sản phẩm</a>
        </div>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item (click)="showSubMenuAccount = !showSubMenuAccount" class="parent">
          <div class="menu-item">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">Tài khoản</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubMenuAccount}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </div>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubMenuAccount}" *ngIf="isShowing || isExpanded">
          <a mat-list-item href="...">Đổi mật khẩu</a>
          <a mat-list-item href="...">Đặt lại mật khẩu</a>
        </div>
      </mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
