<mat-form-field class="custom-date-picker">
  <mat-label>Choose a month and year</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="monthYearControl">
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker startView="multi-year"
    (monthSelected)="chosenMonthHandler($event, picker)"
    (yearSelected)="chosenYearHandler($event)"
  >
  </mat-datepicker>
</mat-form-field>
<div class="chart-container">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'">
  </canvas>
</div>
